/* Global */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
html, body {
    font-size: 1.2rem;
}
hr {}

/* Headline */
.carousel-caption h1 {
    font-size: 5.5rem; /* Increase font size for the headline */
    text-shadow: 4px 4px 4px black;
}

/* Navigation */
.navigation {
    background-color: #77C9D4;
    height: 100px; /* Increase height for a wider appearance */
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow */
}

/* Adjust navbar links for alignment */
.navbar-nav .nav-link {
    font-size: 1.5em; /* Optional: increase font size for visibility */
}

/* Carousel */
.carousel-inner img {}
.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
}
.carousel-caption h1 {
    text-shadow: 2px 2px 2px black;
}

/* Buttons */
.btn {}
.btn-primary {}

/* Jumbotron */
.jumbotron {
    display: block;
    flex-direction: row-reverse;
}
.card {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Card photo styling */
.photo {
    padding: 20px;
    width: 100%;
    height: auto;
}

/* Footer */
.social {
    font-size: 1.8em;
}
.fa-envelope {
    color: rgba(255, 255, 255, 0.604);
}
.fa-github {
    color: black;
}
.fa-twitter {
    color: #00aced;
}
.fa-linkedin {
    color: #007bb6;
}
.fa-email {
    color: blue;
}
.footer {
    color: white;
}
footer {
    background: #77C9D4;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    width: 90%; /* Adjusts the width to be narrower */
    margin: 0 auto; /* Centers the footer on the page */
}

/* Google form alignment */
.google_form {
    display: block;
    margin: auto;
}

/* Media Queries */
@media(max-width: 900px) {
    .carousel-caption {
        display: none;
    }
}
